@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* ZMIENNE */

:root {
	--header-height: 3rem;
	--font-semi: 600;
}

:root {
	--first-color: #4ae02c;
	--black-color: #fff;
	--white-color: #0f0f0f;
}

:root {
	--body-font: "Poppins", sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
	:root {
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
	}
}

:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

:root {
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}

/* RESET HTML */

*,
::before,
::after {
	box-sizing: border-box;
	transition: 0.1s linear;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--white-color);
	background: var(--white-color);
}

h1,
h2,
p {
	margin: 0;
	color: var(--black-color);
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* KLASY CSS */

.section-title {
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--first-color);
	margin-top: var(--mb-2);
	margin-bottom: var(--mb-4);
	text-align: center;
}

.section-title::after {
	position: absolute;
	content: "";
	width: 64px;
	height: 0.18px;
	left: 0;
	right: 0;
	margin: auto;
	top: 2rem;
	background-color: var(--first-color);
}

.section {
	padding-top: 3rem;
	padding-bottom: 2rem;
	color: var(--black-color);
}

/* DARK THEME STYLING */

.dark-theme {
	--white-color: #0f0f0f;
	--black-color: #fff;
}

/* HEADER STYLING */

.bd-grid {
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}

.l-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--white-color);
	box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.dark-mode {
	cursor: pointer;
	font-size: 20px;
}

/* NAV STYLING */

.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
	.nav__menu {
		position: fixed;
		top: var(--header-height);
		right: -100%;
		width: 80%;
		height: 100%;
		padding: 2rem;
		background-color: var(--white-color);
		transition: 0.5s linear;
	}
}

.nav__item {
	margin-bottom: var(--mb-4);
}

.nav__link {
	position: relative;
	color: var(--black-color);
}

.nav__link:hover {
	position: relative;
}

.nav__link:hover::after {
	position: absolute;
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: var(--first-color);
}

.nav__logo {
	color: var(--black-color);
}

.nav__toggle {
	color: var(--black-color);
	font-size: 1.5rem;
	cursor: pointer;
}

.dark-mode {
	cursor: pointer;
	font-size: 20px;
}

/* MENU STYLING */

.active::after {
	position: absolute;
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: var(--first-color);
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover {
	background: var(--first-color);
	transition: 0.5s;
}
/* SHOW MENU */

.show {
	right: 0;
}

/* MAIN SECTION STYLING */

.l-main{
	background: url(Images/Screenshot.png) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.home {
	height: calc(100vh - 3rem);
	row-gap: 1rem;
}

.home__data {
	align-self: center;
}

.home__title {
	font-size: var(--big-font-size);
	margin-bottom: var(--mb-5);
    text-align: center;
	text-shadow: 3px 4px 12px rgb(0, 0, 0);
}

.home__title-color {
	color: var(--first-color);
}

.home__social {
	display: flex;
	flex-direction: column;
}

.home__social-icon {
	width: max-content;
	margin-bottom: var(--mb-2);
	font-size: 1.5rem;
	color: var(--black-color);
	transition: 0.3s linear;
}

.home__social-icon:hover {
	color: var(--first-color);
}

.home__img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 205px;
}

/* BUTTON STYLING */

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    border: 2px solid var(--first-color);
    transition: .3s linear;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
    background-color: var(--white-color);
    color: var(--first-color);
    border: 2px solid var(--first-color);
}

/* ABOUT SECTION STYLING */

.about__container {
	row-gap: 2rem;
	text-align: center;
}

.about__subtitle {
	margin-bottom: var(--mb-2);
}

.about__img {
	justify-self: center;
}

.about__img img {
	width: 250px;
	border-radius: 1.2rem;
}

/* SKILLS SECTION STYLING */

.skills__container {
	row-gap: 2rem;
	text-align: center;
}

.skills__subtitle {
	margin-bottom: var(--mb-2);
}

.skills__text {
	margin-bottom: var(--mb-4);
}

.skills__data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	font-weight: var(--font-semi);
	padding: 0.6rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
	font-size: 2rem;
	margin-right: var(--mb-2);
	color: #e5ff00;
}

.skills__icon.html {
	color: #dd7c14;
}

.skills__icon.js {
	color: #dd7c14;
}
.skills__icon.css {
	color: #148ddd;
}

.skills__names {
	display: flex;
	align-items: center;
}

.skills__bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--first-color);
	height: 0.25rem;
	border-radius: 0.5rem;
	z-index: var(--z-back);
}

.skills__html {
	width: 80%;
}

.skills__css {
	width: 70%;
}

.skills__py {
	width: 65%;
}

.skills__js {
	width: 50%;
}

.skills__img {
	border-radius: 0.5rem;
}

/* PROJECTS SECTION STYLING */

.portfolio {
	background-color: var(--white-color);
}
.portfolio__container {
	justify-items: center;
	row-gap: 2rem;
}
.portfolio__img {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.portfolio__img img {
	border: 2px solid #d6d6d6;
	border-radius: 10px;
}
.portfolio__link {
	position: absolute;
	bottom: -105%;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0 0 0.5rem 0.5rem;
	cursor: pointer;
	backdrop-filter: blur(5px);
	transition: 0.5s linear;
}
.portfolio__img:hover .portfolio__link {
	bottom: 0;
}
.portfolio__link-name {
	color: var(--black-color);
	font-size: 22px;
	font-weight: 600;
	font-family: "Poppins";
	text-transform: uppercase;
}

/* FOOTER STYLING */

.footer {
	background-color: var(--white-color);
	color: var(--black-color);
	text-align: center;
	font-weight: var(--font-semi);
	padding: 2rem 0;
}

.footer__title {
	font-size: 2rem;
	margin-bottom: var(--mb-4);
}

.footer__social {
	margin-bottom: var(--mb-4);
}

.footer__icon i {
	font-weight: 300;
	font-size: 1.5rem;
	color: var(--first-color);
	margin: 0 var(--mb-2);
}

.footer p {
	color: var(--black-color);
}
.footer p span {
	color: var(--first-color);
}

/* STYLING MEDIA VIEW SITE */

@media screen and (min-width: 768px) {
	body {
		margin: 0;
	}
	.section {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}
	.section-title {
		margin-bottom: var(--mb-6);
	}
	.section-title::after {
		width: 80px;
		top: 3rem;
	}

	.nav {
		height: calc(var(--header-height) + 1rem);
	}
	.nav__list {
		display: flex;
		padding-top: 0;
	}
	.nav__item {
		margin-left: var(--mb-6);
		margin-bottom: 0;
	}
	.nav__toggle {
		display: none;
	}
	.nav__link {
		color: var(--black-color);
	}

	.home {
		height: 100vh;
	}
	.home__data {
		align-self: flex-end;
	}
	.home__social {
		padding-top: 0;
		padding-bottom: 2.5rem;
		flex-direction: row;
		align-self: flex-end;
	}
	.home__social-icon {
		margin-bottom: 0;
		margin-right: var(--mb-4);
	}
	.home__img {
		width: 257px;
		bottom: 15%;
	}

	.about__container,
	.skills__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		text-align: initial;
	}
	.about__img img {
		width: 300px;
	}

	.work__container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 2rem;
	}

}

@media screen and (min-width: 1024px) {
	.bd-grid {
		margin-left: auto;
		margin-right: auto;
	}
	.home__img {
		right: 10%;
	}

}

/* CUSTOM SCROLLBAR STYLING */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--first-color);
}

/* COOKIE BOX STYLING */

.wrapper {
	position: fixed;
	bottom: 30px;
	left: 100px;
	background: var(--white-color);
	max-width: 365px;
	border-radius: 15px;
	text-align: center;
	padding: 25px 25px 30px 25px;
	z-index: 10000;
	box-shadow: 0px 0px 3px 0px rgba(78, 78, 78, 0.507);
}

.wrapper.hide {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s linear;
}

.wrapper img {
	max-width: 90px;
	display: unset;
	border-radius: 50%;
}

.wrapper .content {
	margin-top: 10px;
}

.content header {
	font-size: 25px;
	font-weight: 600;
}

.content p {
	color: var(--black-color);
	margin-bottom: 15px;
}

.content header {
	color: var(--black-color);
	margin: 5px 0 20px 0;
}

.content .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons .item {
	margin: 0 10px;
}

.buttons button {
	padding: 10px 20px;
	background: var(--first-color);
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid var(--first-color);
}

.buttons button:hover {
	background: var(--white-color);
	color: var(--first-color);
	transition: 0.3s linear;
}

.buttons a {
	color: var(--first-color);
}


/* SCROLL TOP STYLING */

.scrollToTop-btn {
	z-index: 999;
	position: fixed;
	background: var(--first-color);
	color: var(--white-color);
	width: 45px;
	height: 45px;
	right: 20px;
	bottom: 0;
	font-size: 25px;
	text-align: center;
	line-height: 45px;
	border-radius: 3px;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	transition: all 0.5s ease;
}

.scrollToTop-btn.active {
	bottom: 20px;
	opacity: 1;
	pointer-events: auto;
}

.scrollToTop-btn:hover {
	background: #4bfa3b;
}

/* REVEAL EFFECT STYLING */

.reveal {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: all 1.5s ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.bx {
    color: #000;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 5px;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    top: 2px;
    font-weight: 600;
}



.footer__icon i {
    font-weight: 300;
    font-size: 1rem;
    color: var(--black-color);
}



#blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.blog-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.blog-heading span{
  color: #f33c3c;
}
.blog-heading h3{
  font-size: 2em;
    font-weight: 800;
    color: var(--first-color);
    margin-bottom: 20px
}
.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width:350px;
  background-color: var(--white-color);
  border: 1px solid #000;
  margin: 20px 20px;

}
.blog-img{
  width:100%;
  height: auto;
}
.blog-img img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all .3s linear;
}

.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span{
  color: #f33c3c;
  font-size: 0.9rem;
}
.blog-text .blog-title{
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--first-color);
}
.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog-text a{
  color: #0f0f0f;
  font-size: 17px;
  font-weight: 800;
  transition: 0.5s ease;
}


.blog-text a:hover{
  color: #c74242;
}
.blog-text .btn {
  color: #fff;
  background: var(--first-color);
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 7px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 30px;
  transition: 0.5s ease;
}
.blog-text .btn:hover {
  color: #fff;
  background: #ffa11d;
}
.blog-text .btn span {
  color: #fff;
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-size: 16px;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
}

@media(max-width:1250px){

  .blog-box{
      width: 300px;
  }
  
} 
@media(max-width:1100px){
  .blog-box{
      width:90%;
  }
  
}

@media(max-width:550px){
 
  .blog-box{
      margin: 20px 10px;
      width: 100%;
  }
  #blog{
      padding:20px;
  }

}

.inputs {
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.searchme {
	font-size: 17px;
	background: var(--white-color);
	width: 180px;
	height: 50px;
	border: 2px solid var(--first-color);
	color: var(--first-color);
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
}

#myButton {
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: .5s;
}

.TextInp {
	cursor: pointer;
	position: relative;
	left: -5px;
	top: 1px;
	border-radius: 0 25px 25px 0;
	width: 120px;
	height: 50px;
	border: none;
	outline: none;
	background: var(--first-color);
	transition: .3s linear;
}

.TextInp:hover {
	background: var(--white-color);
	color: var(--first-color);
}

@media screen and (min-width: 768px) {
	.searchme {
		width: 300px;
	}
}